.divConteiner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.link {
  color: white;
  font-size: var(--MobileFontSize);
}
.imgContainer {
  width: auto;
  height: 450px;
}

.moviesUl {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0 1.5rem 0;
}
.title {
  text-align: center;
  text-decoration: underline;
  color: gold;
  font-size: var(--MobileFontSize);
  margin-bottom: 0.5rem;
}

.li {
  padding:0.1rem  0.5rem;
  border: 1px solid gold;
  margin-bottom: 1.5rem;
}
