.formContainer {
  display: flex;
  justify-content: center;
  margin: 2em;
}
.form {
  color: white;
  font-size: var(--MobileFontSize);
  height: 20vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 0.1em solid rgb(77, 77, 77);
  border-radius: 0.5em;
  box-shadow: 0 0 15px #ccc;
}

.charMsg {
  font-size: calc(var(--MobileFontSize) - 0.1rem);
  color: chartreuse;
}

.invalidInput {
  border: 2px solid red;
}

@media screen and (min-width: 768px) {
  .charMsg {
    font-size: calc(var(--BigFontSize) - 0.8rem);
  }
  .form {
    width: 40vw;
  }
}

@media screen and (min-width: 1200px) {
  .divContainer {
    font-size: calc(var(--BigFontSize) - 0.5rem);
  }
}
