.formContainer {
  display: flex;
  justify-content: center;
}
.form {
  color: white;
  font-size: var(--MobileFontSize);
  margin-top: 10px;
  height: 15vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 0.1em solid rgb(77, 77, 77);
  border-radius: 0.2em;
}
