.divUlContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
}
.divUlContainer p {
  margin: 0.2rem 0;
  text-decoration: underline;
  font-size: calc(var(--MobileFontSize) - 0.1rem);
}

.moviesUl {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 1.5rem 0;
  width: 80vw;
  border-bottom: 1px solid gray;
}

li {
  list-style: none;
}
