.divUlContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
}
.divUlContainer p {
  margin: 0.2rem 0;
  text-decoration: underline;
  font-size: calc(var(--MobileFontSize) - 0.1rem);
}

.moviesUl {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 1.5rem 0;
  width: 80vw;
  border-bottom: 1px solid gray;
  margin: 0;
}

li {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .divUlContainer p {
    font-size: calc(var(--MediumFontSize) - 0.2rem);
  }
}

@media screen and (min-width: 1000px) {
  .moviesUl {
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    justify-content: center;
  }
}

@media screen and (min-width: 1600px) {
  .moviesUl {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
