.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8rem;
  border-bottom: 0.1em solid black;
  color: white;
  background-color: black;
  height: 8vh;
}

.logoutButton {
  height: 40%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .logoutButton {
    height: 50%;
    font-size: calc(var(--MediumFontSize) - 0.5rem);
  }
}
